/* ================================================================
 *
 *  COMPEER ADMIN STYLES
 *  Version 1.0.0
 *
 * ================================================================*/

/* ================================================================
 *
 *							Buttons
 *
 * ================================================================*/

.centered-button {
    margin: 10px auto !important;
    display: block !important;
}

/* ================================================================
 *
 *							Gravity Forms
 *
 * ================================================================*/

 #gform_2 {
     margin: 0 20px;
 }

 .gfield_description {
     font-size: 15px !important;
 }

 .gform_button {
    background: #0085ba !important;
    border-color:#0073aa #006799 #006799 !important;
    box-shadow: 0 1px 0 #006799 !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799 !important;
 }

 .gfield_select, .ginput_container_textarea, .chosen-container {
     width: 20% !important;
 }
/* ================================================================
 *
 *							Notifications
 *
 * ================================================================*/

 .note{
    background-color: #f0f7fb;
    background-image: url(css-box-icon-3.png);
    border: solid 1px #3498db;
  }
  
  .noteAlt {
    border: none;
    border-left: solid 4px #3498db;
  }
  
  .warning{
    background-color: #F9E7E5;
    background-image: url(css-box-icon-4.png);
    border: solid 1px #D16D63;
  }
  
  .warningAlt {
    border: none;
    border-left: solid 4px #D16D63;
  }
  
  .example{
    background-color: #E6F6F0;
    background-image: url(css-box-icon-2.png);
    border: solid 1px #2AB168;
  }
  
  .exampleAlt {
    border: none;
    border-left: solid 4px #2AB168;
  }
  
  .tip{
    background-color: #FFFAEB;
    background-image: url(css-box-icon-1.png);
    border: solid 1px #F2C936;
  }
  
  .tipAlt {
    border: none;
    border-left: solid 4px #F2C936;
  }
  
  
  .notificationAlt {
       line-height: 1.8em;
       overflow: hidden;
       padding: 15px 60px;
       margin-top: 15px;
       margin-bottom: 15px;
       background-position: 9px 0px;
       background-repeat: no-repeat;
       width: 30%;
       margin: 0px auto;
       text-align: center;       
  }
  
  .notification {
       -moz-border-radius: 6px;
       -webkit-border-radius: 6px;
       background-position: 9px 0px;
       background-repeat: no-repeat;
       border-radius: 6px;
       line-height: 1.8em;
       overflow: hidden;
       padding: 15px 60px;
       width: 30%;
       margin: 0px auto;
       text-align: center;
  }

  /* ================================================================
 *
 *							Dates
 *
 * ================================================================*/
 .reduce_input_field input {
   width: 40% !important;
 }